<!DOCTYPE html>
<html>
<head>
    <title>Text Summarizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons.png') }}">
</head>
<body>
    <header>
        <h1>Welcome to Text Summarizer</h1>
    </header>
    <section class="hero">
        <form method="POST" action="/analyze">
            <textarea name="text" rows="13" cols="50" placeholder="Enter your text here..."></textarea>
            <br>
            <select name="action">
                <option value="summarize">Summarize Text</option>
                <option value="sentiment">Sentiment Analysis</option>
                <option value="wordcloud">Word Cloud</option>
            </select>
            <input type="submit" value="Perform Action">
        </form>
    </section>
    <footer>
        <p>&copy; Jey Prabu 2023 Text Summarizer</p>
    </footer>
</body>
</html> 
